/* sticky footer */

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

/**/

.container {
    @media screen and (min-width: $extra-large-desktop) {
        width: calc(100% - 100px);
        max-width: 1780px;
    }
}

.contaier-small {
    @media screen and (min-width: $extra-large-desktop) {
        max-width: 1350px;
    }
}

.contaier-small-more {
    @media screen and (min-width: $extra-large-desktop) {
        max-width: 960px;
    }
}

.add-gutter-right {
    @media screen and (min-width: $extra-large) {
        padding-right: 30px;
    }

    @media screen and (min-width: $extra-large-desktop-3) {
        padding-right: 93px;
    }
}

.add-gutter-left {
    @media screen and (min-width: $extra-large) {
        padding-left: 30px;
    }

    @media screen and (min-width: $extra-large-desktop-3) {
        padding-left: 6px;
    }
}

.gutter-10-r {
    @media screen and (min-width: $extra-large-desktop-2) {
        padding-right: 10%;
    }
}

.gutter-10-l {
    @media screen and (min-width: $extra-large-desktop-2) {
        padding-left: 10%;
    }
}

.gutter-5 {
    @media screen and (min-width: $extra-large-desktop-2) {
        padding: 0 5%;
    }
}