.pageOverlay {
    background: rgba(76, 81, 114, 0.75);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.pageOverlay.visible,
.pageOverlay.visible-modal {
    display: block;
}

@mixin mark {
    content: "";
    width: 8px;
    height: 8px;
    background: #4c5172;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transform: rotate(45deg);
    margin: 0 auto;
    padding: 0;

    @media screen and (min-width: $large) {
        width: 10px;
        height: 10px;
    }
}

.content-flat-img {
    @media screen and (min-width: $large) {
        margin-top: 150px;
    }
}

.mark-section::before {
    @include mark;
}