$font-2:'odstemplik', sans-serif;

$gutter-main:30px;
$extra-large-desktop-3:106.250em;
$extra-large-desktop-2:100em;
$extra-large-desktop: 81.250em;
$extra-large: 75.000em;
$large: 62.000em;
$medium: 48.000em;
$small: 43.750em;
$small-custom: 37.500em;
$extra-small: 33.125em;