.requaied-info {
    font-size: 1.1rem;
    color: #4c5172;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

.second-address {
    @media screen and (min-width: $extra-large-desktop-3) {
        margin-top: 96px;
    }
}

.content-form {
	 margin-top: 30px;
    .content-heading {
        @media screen and (min-width: $large) {
            margin-bottom: 40px;
        }
    }

    .form-footer {
        @media screen and (min-width: $medium) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.aside-contact {
  //  margin-top: 30px;

    @media screen and (min-width: $extra-large-desktop-3) {
        padding-left: 37px;
    }

    .contact-box.contact-box--add-gutter {
        padding-left: 30px;
        margin-bottom: 20px;
        margin-top: 0;

        @media screen and (min-width: $extra-large-desktop-2) {
            padding-left: 60px;
            margin-bottom: 35px;
        }
    }

    .contact-box {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;

        @media screen and (min-width: $extra-large-desktop-2) {
            margin-top: 76px;
        }

        .content-heading {
            text-align: center;

            @media screen and (min-width: $medium) {
                text-align: left;
            }
        }

        span::before {
            margin-right: 15px;
            position: absolute;
            left: 0;

            @include vertical-center;

            @media screen and (min-width: $extra-large-desktop-2) {
                font-size: 3rem;
            }
        }

        a {
            display: block;
            font-weight: 500;
            font-size: 1.8rem;

            @media screen and (min-width: $extra-large-desktop-2) {
                font-size: 2.4rem;
                margin-bottom: 12px;
            }
        }

        address {
            span {
                display: block;
                margin-bottom: 4px;

                @media screen and (min-width: $extra-large-desktop-2) {
                    font-size: 1.8rem;
                    margin-bottom: 10px;
                }
            }
        }

        .mail-link {
            font-weight: 300;
        }
    }
}

.brand-extra-contact {
    @media screen and (min-width: $medium) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .brand-date {
        @media screen and (min-width: $medium) {
            margin: 0 50px 0;
        }

        @media screen and (min-width: $extra-large-desktop-2) {
            margin: 0 200px 0;
        }

        &__address {
            span {
                display: block;
                margin-bottom: 4px;

                @media screen and (min-width: $extra-large-desktop-2) {
                    font-size: 1.8rem;
                    margin-bottom: 10px;
                }
            }
        }

        &__number {
            span {
                display: block;
                margin-bottom: 4px;

                @media screen and (min-width: $extra-large-desktop-2) {
                    font-size: 1.8rem;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.header-page.header-page--map {
    @media screen and (min-width: $medium) {
        margin-bottom: 73px;
    }
}

.map-location.map-location--contact {
    @media screen and (min-width: $medium) {
        height: 350px;
        margin-top: 53px;
    }

    @media screen and (min-width: $large) {
        height: 450px;
        margin-top: 53px;
    }

    @media screen and (min-width: $extra-large-desktop) {
        height: 550px;

        //margin-top: 60px;
    }

    @media screen and (min-width: $extra-large-desktop-2) {
        height: 720px;

        //margin-top: 130px;
    }
}